body{
    font-family: 'Tilt Warp', cursive;
    margin: 0;
    padding: 20px;
    color: azure;
    /* background-image: url(https://source.unsplash.com/1080x1080/?gym,fitness);
    background-position: bottom; */
    background-image: url('Gym_Img/gym1.jpg');
    /* scroll-behavior: smooth; */
    /* background-position: auto; */
}

.left{
    display: inline-block;
    /* border: 2px solid red;     */
}

.left img{
    /* height: 30px; */
    filter: invert(100%);
    width: 60px;
}

.mid{
    border-radius: 20px;
    background-color: goldenrod;
    padding-left: 0%;
    margin: -90px auto;
    width: 40%;
    display: block;
    /* border: 2px solid rgb(17, 163, 90); */
}

.right{
    top: 23px;
    right: 20px;
    position: absolute;
    display: inline-block;
    /* border: 2px solid rgb(149, 0, 255); */
}

.navbar{
    display: inline-block;
    padding-left: 60px;
}

.navbar li{
    font-size: 19px;
    display: inline-block;
    /* border: 1px solid red; */
}

.navbar li a{
    margin: 2px;
    padding: 5px;
    text-decoration: none;
    color: azure;
}

.navbar li a:hover{
    color: aqua;
    text-decoration: underline;
}

.btn{
    font-family: 'Tilt Warp', cursive;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    color: azure;
    background-color: grey;
    padding: 14px;
    margin: 0 10px;
}

.btn:hover{
    font-size: 110%;
    background-color: rgb(53, 60, 66);
}

.container{
    border-radius: 20px;
    width: 37%;
    height: 400px;
    padding: 40px;
    margin: 210px 50px;
    border: 2px solid greenyellow;
}

.form-grp input{
    font-family: 'Tilt Warp', cursive;
    text-align: center;
    display: block;
    padding: 10px;
    margin: 15px auto;
    border: 1px solid green;
    border-radius: 20px;
}

.container .btn{
    margin-top: 20px;
    width: 180px;
}